.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 15px;
}

.counter-body {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.header {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 245px;
  height: 40px;
}
.header-logo img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.mode-switcher {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2b37;
  border-radius: 5px;
}
.mode-switcher img {
  width: 22px;
  height: 22px;
  display: block;
  object-fit: cover;
}

main {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media (max-width: 424.98px) {
  main {
    gap: 40px;
  }
}
.main-title {
  max-width: 510px;
  margin: 0 auto;
  text-align: center;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -1px;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 424.98px) {
  .counter-body {
    gap: 40px;
  }
  .header-logo {
    width: 185px;
    height: 30px;
  }
  .mode-switcher {
    width: 32px;
    height: 32px;
  }
  .mode-switcher img {
    width: 20px;
    height: 20px;
  }
  .main-title {
    font-size: 40px;
  }
}
.main-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.main-textarea {
  max-width: 990px;
  min-height: 200px;
  background-color: #21222c;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.6px;
  color: #e4e4ef;
}
.main-textarea::placeholder {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.6px;
  color: #e4e4ef;
}

.textarea-error {
  display: flex;
  align-items: center;
  gap: 8px;
}

.textarea-error_img {
  width: 14px;
  height: 14px;
}
.textarea-error_img img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.textarea-error_text {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.6px;
  color: #fe8159;
}

.hide {
  display: none;
}

.main-block_options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.option-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #e4e4ef;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.option-checkbox:checked {
  background-color: #d3a0fa;
  background-image: url("../images/icon-check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}
.option-checkbox:focus-visible {
  background-color: #d3a0fa;
  background-image: url("../images/icon-check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}

.options-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.options-item label {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.6px;
  color: #e4e4ef;
}

.char-limit {
  width: 55px;
  height: 22px;
  background-color: transparent;
  border: 1px solid #e4e4ef;
  border-radius: 7px;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.6px;
  color: #e4e4ef;
  padding-left: 12px;
}

.options-approx {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.6px;
  color: #e4e4ef;
}

@media (max-width: 767.98px) {
  .main-block {
    gap: 16px;
  }
  .main-block_options {
    flex-direction: column;
    gap: 12px;
    align-items: start;
  }
  .options-list {
    flex-direction: column;
    gap: 12px;
    align-items: start;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  background-color: #12131a;
}

button {
  background-color: transparent;
}

ul,
li {
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
