@use "variables";

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 15px;
}

.counter-body {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.header {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  width: 245px;
  height: 40px;
  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}
.mode-switcher {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: variables.$neutral700;
  border-radius: 5px;
  img {
    width: 22px;
    height: 22px;
    display: block;
    object-fit: cover;
  }
}

// =============================
main {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 40px;
}
@media (max-width: 424.98px) {
  main {
    gap: 40px;
  }
}

.main-title {
  max-width: 510px;
  margin: 0 auto;
  text-align: center;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -1px;
  font-weight: 700;
  color: variables.$neutral0;
}
.light-theme .main-title {
  color: #12131a;
}
@media (max-width: 424.98px) {
  .counter-body {
    gap: 40px;
  }
  .header-logo {
    width: 185px;
    height: 30px;
  }
  .mode-switcher {
    width: 32px;
    height: 32px;
    img {
      width: 20px;
      height: 20px;
    }
  }
  .main-title {
    font-size: 40px;
  }
}

// ========================================
.main-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.main-textarea {
  max-width: 990px;
  min-height: 200px;
  background-color: variables.$neutral800;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.6px;
  color: variables.$neutral200;
  &::placeholder {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.6px;
    color: variables.$neutral200;
  }
}
.textarea-error {
  display: flex;
  align-items: center;
  gap: 8px;
}
.textarea-error_img {
  width: 14px;
  height: 14px;
  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}
.textarea-error_text {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.6px;
  color: variables.$orange500;
}
.hide {
  display: none;
}
.main-block_options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.options-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.option-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid variables.$neutral200;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &:checked {
    background-color: variables.$blue400;
    background-image: url("../images/icon-check.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
  }
  &:focus-visible {
    background-color: variables.$blue400;
    background-image: url("../images/icon-check.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
  }
}

.options-item {
  display: flex;
  align-items: center;
  gap: 10px;
  label {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.6px;
    color: variables.$neutral200;
  }
}
.char-limit {
  width: 55px;
  height: 22px;
  background-color: transparent;
  border: 1px solid variables.$neutral200;
  border-radius: 7px;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.6px;
  color: variables.$neutral200;
  // padding-top: 2px;
  padding-left: 12px;
}
.options-approx {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.6px;
  color: variables.$neutral200;
}

@media (max-width: 767.98px) {
  .main-block {
    gap: 16px;
  }
  .main-block_options {
    flex-direction: column;
    gap: 12px;
    align-items: start;
  }
  .options-list {
    flex-direction: column;
    gap: 12px;
    align-items: start;
  }
}

// ===========================================

.results-row {
  display: flex;
  align-items: center;
  min-height: 150px;
  gap: 16px;
}
.results-column {
  flex: 0 1 319px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // gap: 8px;
  padding: 0 16px;
  border-radius: 10px;
  min-height: 150px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 150px;
}
.column-results_number {
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -1px;
  font-weight: 700;
  color: variables.$neutral900;
}
.column-results_text {
  font-size: 20px;
  line-height: 140%;
  color: variables.$neutral900;
  letter-spacing: -0.6px;
}
.results-column_total {
  background-color: variables.$blue400;
  background-image: url("../images/pattern-character-count.svg");
}
.results-column_word {
  background-color: variables.$yellow500;
  background-image: url("../images/pattern-word-count.svg");
}
.results-column_sentence {
  background-color: variables.$orange500;
  background-image: url("../images/pattern-sentence-count.svg");
}

@media (max-width: 767.98px) {
  .results-column {
    background-position: 150px;
  }
}
@media (max-width: 598px) {
  .results-row {
    flex-direction: column;
  }
  .results-column {
    flex: none;
    width: 100%;
    background-position: right;
  }
}

@media (max-width: 424.98px) {
  .results-column {
    min-height: 130px;
  }
  .column-results_number {
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1px;
  }
}

// ================================================

.density {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.density-title {
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -1px;
  font-weight: 600;
  color: variables.$neutral200;
}
.density-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.density-item {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}
.density-letter {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.6px;
  color: variables.$neutral200;
  text-transform: uppercase;
}
.density-quantity {
  max-width: 859px;
  width: 100%;
  height: 12px;
  position: relative;
}
.density-quantity_full {
  position: absolute;
  width: 100%;
  top: 0;
  height: 12px;
  left: 0;
  right: 0;
  background-color: variables.$neutral800;
  border-radius: 10px;
}
.density-quantity_current {
  position: absolute;
  width: 40%;
  height: 12px;
  top: 0;
  left: 0;
  background-color: variables.$blue400;
  border-radius: 10px;
}
.density-percent {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.6px;
  color: variables.$neutral200;
}
.see-more {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 102px;
  height: 28px;
}
.button-text {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.6px;
  color: variables.$neutral200;
}

.static-denssity_text {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.6px;
  color: variables.$neutral200;
}
.hide {
  display: none;
}
// ============================

.light-theme .options-item label,
.light-theme .options-approx,
.light-theme .density-title,
.light-theme .density-letter,
.light-theme .density-percent,
.light-theme .static-denssity_text,
.light-theme .button-text {
  color: #12131a;
}
.light-theme .main-textarea {
  background-color: #f2f2f7;
  color: #12131a;
}

.light-theme .main-textarea::placeholder {
  color: #12131a;
}

.light-theme .density-quantity_full {
  background-color: #f2f2f7;
}

.light-theme .option-checkbox {
  border-color: #12131a;
}

.light-theme .char-limit {
  border-color: #12131a;
  color: #12131a;
}
