$neutral900: #12131a;
$neutral800: #21222c;
$neutral700: #2a2b37;
$neutral600: #404254;
$neutral200: #e4e4ef;
$neutral100: #f2f2f7;
$neutral0: #fff;

$blue400: #d3a0fa;
$blue500: #c27cf8;

$yellow500: #ff9f00;

$orange500: #fe8159;
$orange800: #da3701;
